.selbuy{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    margin-top:250px;
}
.selbuy-button{
    font-family: 'Montserrat', sans-serif;
    background-color:#C4E8C2;
    border-color:#C4E8C2 ;
    width:20%;
    margin-top: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 5px;
    font-size:large;
    font-weight: 550;
    color: rgba(1, 16, 11, 0.841);
   
}
.selbuy-button:hover{
    box-shadow: 5px 3px 30px #C4E8C2;
}